<h1>Counter App</h1>
<div>
    <h2 class="count">{{count}}</h2>
    <div style="text-align: center;">
        <button (click)="handlecounter('minus')" class="btn bg-red">Decrement</button>
        <button (click)="handlecounter('plus')" class="btn bg-black">Increment</button>
        <button (click)="handlecounter('reset')" class="btn bg-green">Reset</button>
    </div>
</div>








<!-- <h1>Angular Componenet Updated</h1>
<app-login></app-login>

<app-sign-up></app-sign-up>

<app-profile></app-profile> -->

<!-- <h1>Function call on Button Click</h1> -->
<!-- <button (click)="handleClickEvent()">Click me</button> -->
<!-- <button (click)="otherFunction()">Click me</button> -->
<!-- <button (click)="updateVar()">Click me</button> -->
<!-- <button (click)="sum(10, 'Anil')">Sum</button> -->
<!-- <button (click)="updateName()">Sum</button> -->
