<div class="a">  
  <p>{{name|uppercase}}</p>
  <p>{{'Jigyasha'|lowercase}}</p>
  <p>{{450000|currency}}</p>
  <p>{{450000|currency:'RS '}}</p>
  <p>{{d|date}}</p>
  <p>{{d|date:'short'}}</p>
  <p>{{d|date:'dd/MM/yy'}}</p>
  <p>{{d|date:'dd/MMMM HH mm ss'}}</p>
  <p>{{d|date:'dd/MMMM hh:mm:ss'}}</p>
  <p>{{d|date:'dd/MMMM hh:mm:ss a'}}</p>
  <p>{{d|date:'medium'}}</p>
  <p>{{d|date:'long'}}</p>
  <p>{{d|date:'shortDate'}}</p>
  <p>{{d|date:'full'}}</p>
  <p>{{d|date:'shortDate'}}</p>
  <p>{{d|date:'mediumDate'}}</p>
  <p>{{d|date:'longDate'}}</p>
  <p>{{d|date:'fullDate'}}</p>
  <p>{{d|date:'shortTime'}}</p>
  <p>{{d|date:'mediumTime'}}</p>
  <p>{{d|date:'longTime'}}</p>
  <p>{{d|date:'fullTime'}}</p>

  <p>{{emp|json}}</p>

  <p>{{560000|number}}</p>
  <p>{{560000|number:'0.4'}}</p>
  <p>{{560000.567454|number:'0.4'}}</p>
  <p>{{560000.567454|number:'0.5'}}</p>

  <p>{{'Praveen'|slice:0:2}}</p>
  <p>{{'Praveen'|slice:0:3}}</p>

  <p>{{5|square}}</p>

  <!-- <p>{{4|add:4}}</p>
  <p>{{56|add:4}}</p>
  <p>{{56|add:4}}</p> 

 <p>{{22|add:33:59}}</p> -->

  <p>{{[22,33,44]|add}}</p>
</div>